fastapi
uvicorn
pydantic
langchain==0.3.25
langchain-community==0.3.25
langchain-huggingface
langchain-text-splitters
sentence-transformers
faiss-cpu
pypdf
asyncpg
redis
python-dotenv
python-multipart
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
pillow
beautifulsoup4
requests
scikit-learn
numpy
imagehash
rapidfuzz
scipy
certstream
playwright
selenium
webdriver-manager
